<% include top %>
<table class="data">
    <!-- <caption style="font-size: 120%;text-align:left;color:#FF7504; font-weight:bold">Last Mqtt Data</caption> -->
    <tr class="header">
        <th><span style="color:#269DD4;font-weight:bold">Topic</span></th>
        <th><span style="color:#269DD4;font-weight:bold">Value</span></th>
        <th><span style="color:#269DD4;font-weight:bold">Timestamp</span></th>
    </tr>
    <% for(var i=0; i<bmtData.length; i++) {%>
        <tr class="child">
            <th><%= bmtData[i].topic %></th>
            <th><%= JSON.stringify(bmtData[i].value) %></th>
            <th><%= bmtData[i].timestamp %></th>
        </tr>
    <% } %>
</table>
<% include bottom %>