<% include top %>
    <div id="content"></div>
    <script>
      let elm = document.getElementById("content");
      elm.style.color = "#0D9FF3";
      let name = "typescript";
      elm.innerHTML = `<div>name: ${name}</div>`;
    </script>
<% include bottom %>