<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= title %></h1>
    <div class='navbar'>
        <p>
            <a href='/'>Home</a>
            |
            <a href='/users'>Users</a>
            |
            <a href='/fibonacci'>Fibonacci calculator</a>
        </p>
    </div>